In [277]:

products={1:{'pd_name':'apple','quantity(kg/l)':100,'category':'Fruit','price':50},2:{'pd_name':'banana','quantity(kg/l)':100,'category':'Fruit','price':60},3:{'pd_name':'carrot','quantity(kg/l)':100,'category':'Vegetable','price':70},4:{'pd_name':'beetroot','quantity(kg/l)':100,'category':'Vegetable','price':50},5:{'pd_name':'milk','quantity(kg/l)':200,'category':'Dairy','price':60},6:{'pd_name':'pineapple','quantity(kg/l)':50,'category':'Fruit','price':100},7:{'pd_name':'peaches','quantity(kg/l)':100,'category':'Fruit','price':40},8:{'pd_name':'wheat','quantity(kg/l)':600,'category':'Grain','price':100},9:{'pd_name':'bread','quantity(kg/l)':100,'category':'Grain','price':50},10:{'pd_name':'rice','quantity(kg/l)':500,'category':'Grain','price':20},11:{'pd_name':'oats','quantity(kg/l)':500,'category':'Grain','price':50},12:{'pd_name':'cornmeal','quantity(kg/l)':500,'category':'Grain','price':25},13:{'pd_name':'barley','quantity(kg/l)':100,'category':'Grain','price':30},14:{'pd_name':'pista','quantity(kg/l)':200,'category':'Nuts','price':30},15:{'pd_name':'badam','quantity(kg/l)':100,'category':'Nuts','price':50},16:{'pd_name':'cashew','quantity(kg/l)':400,'category':'Nuts','price':20},17:{'pd_name':'Walnuts','quantity(kg/l)':100,'category':'Nuts','price':60},18:{'pd_name':'dates','quantity(kg/l)':500,'category':'Nuts','price':90},19:{'pd_name':'peanuts','quantity(kg/l)':400,'category':'Nuts','price':80},20:{'pd_name':'guava','quantity(kg/l)':400,'category':'Fruit','price':10},21:{'pd_name':'yogurt','quantity(kg/l)':100,'category':'Dairy','price':100},22:{'pd_name':'icecream','quantity(kg/l)':100,'category':'Dairy','price':30},23:{'pd_name':'grapes','quantity(kg/l)':400,'category':'Fruit','price':40},24:{'pd_name':'Oranges','quantity(kg/l)':200,'category':'Fruit','price':90},25:{'pd_name':'cheese','quantity(kg/l)':50,'category':'Dairy','price':100},
          26:{'pd_name':'fish','quantity(kg/l)':100,'category':'Meat','price':200},27:{'pd_name':'chicken','quantity(kg/l)':300,'category':'Meat','price':250},28:{'pd_name':'onion','quantity(kg/l)':1000,'category':'Vegetable','price':50},29:{'pd_name':'tomato','quantity(kg/l)':400,'category':'vegetable','price':25},
          30:{'pd_name':'mutton','quantity(kg/l)':1000,'category':'Meat','price':400},31:{'pd_name':'lemon','quantity(kg/l)':600,'category':'Fruit','price':34}
          }

In [278]:
products

{1: {'category': 'Fruit',
  'pd_name': 'apple',
  'price': 50,
  'quantity(kg/l)': 100},
 2: {'category': 'Fruit',
  'pd_name': 'banana',
  'price': 60,
  'quantity(kg/l)': 100},
 3: {'category': 'Vegetable',
  'pd_name': 'carrot',
  'price': 70,
  'quantity(kg/l)': 100},
 4: {'category': 'Vegetable',
  'pd_name': 'beetroot',
  'price': 50,
  'quantity(kg/l)': 100},
 5: {'category': 'Dairy',
  'pd_name': 'milk',
  'price': 60,
  'quantity(kg/l)': 200},
 6: {'category': 'Fruit',
  'pd_name': 'pineapple',
  'price': 100,
  'quantity(kg/l)': 50},
 7: {'category': 'Fruit',
  'pd_name': 'peaches',
  'price': 40,
  'quantity(kg/l)': 100},
 8: {'category': 'Grain',
  'pd_name': 'wheat',
  'price': 100,
  'quantity(kg/l)': 600},
 9: {'category': 'Grain',
  'pd_name': 'bread',
  'price': 50,
  'quantity(kg/l)': 100},
 10: {'category': 'Grain',
  'pd_name': 'rice',
  'price': 20,
  'quantity(kg/l)': 500},
 11: {'category': 'Grain',
  'pd_name': 'oats',
  'price': 50,
  'quantity(kg/l)': 500},
 12: {'category': 'Grain',
  'pd_name': 'cornmeal',
  'price': 25,
  'quantity(kg/l)': 500},
 13: {'category': 'Grain',
  'pd_name': 'barley',
  'price': 30,
  'quantity(kg/l)': 100},
 14: {'category': 'Nuts',
  'pd_name': 'pista',
  'price': 30,
  'quantity(kg/l)': 200},
 15: {'category': 'Nuts',
  'pd_name': 'badam',
  'price': 50,
  'quantity(kg/l)': 100},
 16: {'category': 'Nuts',
  'pd_name': 'cashew',
  'price': 20,
  'quantity(kg/l)': 400},
 17: {'category': 'Nuts',
  'pd_name': 'Walnuts',
  'price': 60,
  'quantity(kg/l)': 100},
 18: {'category': 'Nuts',
  'pd_name': 'dates',
  'price': 90,
  'quantity(kg/l)': 500},
 19: {'category': 'Nuts',
  'pd_name': 'peanuts',
  'price': 80,
  'quantity(kg/l)': 400},
 20: {'category': 'Fruit',
  'pd_name': 'guava',
  'price': 10,
  'quantity(kg/l)': 400},
 21: {'category': 'Dairy',
  'pd_name': 'yogurt',
  'price': 100,
  'quantity(kg/l)': 100},
 22: {'category': 'Dairy',
  'pd_name': 'icecream',
  'price': 30,
  'quantity(kg/l)': 100},
 23: {'category': 'Fruit',
  'pd_name': 'grapes',
  'price': 40,
  'quantity(kg/l)': 400},
 24: {'category': 'Fruit',
  'pd_name': 'Oranges',
  'price': 90,
  'quantity(kg/l)': 200},
 25: {'category': 'Dairy',
  'pd_name': 'cheese',
  'price': 100,
  'quantity(kg/l)': 50},
 26: {'category': 'Meat',
  'pd_name': 'fish',
  'price': 200,
  'quantity(kg/l)': 100},
 27: {'category': 'Meat',
  'pd_name': 'chicken',
  'price': 250,
  'quantity(kg/l)': 300},
 28: {'category': 'Vegetable',
  'pd_name': 'onion',
  'price': 50,
  'quantity(kg/l)': 1000},
 29: {'category': 'vegetable',
  'pd_name': 'tomato',
  'price': 25,
  'quantity(kg/l)': 400},
 30: {'category': 'Meat',
  'pd_name': 'mutton',
  'price': 400,
  'quantity(kg/l)': 1000},
 31: {'category': 'Fruit',
  'pd_name': 'lemon',
  'price': 34,
  'quantity(kg/l)': 600}}

In [279]:
prod_num=1
print("                              ELITE TECHNO INVENTORY MANAGEMENT                       ")
print()
print(" Product ID","        Product name","                     Price","            Quantity")
print("______________________________________________________________________________________")
print()
for product in products:
  print("  ",prod_num,end="            \t")
  print(products[product]["pd_name"]," "*(27-len(products[product]["pd_name"])),end="\t")
  print(products[product]["price"],"\t",end="\t")
  print(products[product]["quantity(kg/l)"])
  prod_num += 1

                              ELITE TECHNO INVENTORY MANAGEMENT

 Product ID         Product name                      Price             Quantity
______________________________________________________________________________________

   1            	apple                       	50 		100
   2            	banana                      	60 		100
   3            	carrot                      	70 		100
   4            	beetroot                    	50 		100
   5            	milk                        	60 		200
   6            	pineapple                   	100 		50
   7            	peaches                     	40 		100
   8            	wheat                       	100 		600
   9            	bread                       	50 		100
   10            	rice                        	20 		500
   11            	oats                        	50 		500
   12            	cornmeal                    	25 		500
   13            	barley                      	30 		100
   14            	pista                       	30 		200
   15            	badam                       	50 		100
   16            	cashew                      	20 		400
   17            	Walnuts                     	60 		100
   18            	dates                       	90 		500
   19            	peanuts                     	80 		400
   20            	guava                       	10 		400
   21            	yogurt                      	100 		100
   22            	icecream                    	30 		100
   23            	grapes                      	40 		400
   24            	Oranges                     	90 		200
   25            	cheese                      	100 		50
   26            	fish                        	200 		100
   27            	chicken                     	250 		300
   28            	onion                       	50 		1000
   29            	tomato                      	25 		400
   30            	mutton                      	400 		1000
   31            	lemon                       	34 		600

In [280]:
print("               ELITE TECHNO INVENTORY MANAGEMENT                  " )
nr=input("BUY PRODUCTS IN ELITE TECHNO ENTER y : ")
totalprice=0
billing={}
total_products={}
while nr=='y':
  prod_no=int(input("Enter the product ID : "))
  if  prod_no not in products.keys():
    print("Please Enter a Valid Product ID")
    continue
  userquantity=int(input("Enter Quantity : "))
  if products[prod_no]['quantity(kg/l)']==0:
    print("Product not available")
  elif products[prod_no]['quantity(kg/l)']<userquantity:
    print("Only ",products[prod_no]['quantity(kg/l)']," is avaliable")
  else:
    total=products[prod_no]['price']*userquantity
    print("price : ",total)
    products[prod_no]['quantity(kg/l)']-=userquantity
    totalprice+=total
    if userquantity not in billing:
      billing[prod_no]=userquantity
    else:
      billing[prod_no]+=userquantity
  nr=input("Enter 'y' to continue or 'n' to stop ")

else:
  print("Thanks for visiting ELITE TECHNO INVENTORY MANAGEMENT")

               ELITE TECHNO INVENTORY MANAGEMENT
BUY PRODUCTS IN ELITE TECHNO ENTER y : y
Enter the product ID : 1
Enter Quantity : 44
price :  2200
Enter 'y' to continue or 'n' to stop y
Enter the product ID : 2
Enter Quantity : 55
price :  3300
Enter 'y' to continue or 'n' to stop y
Enter the product ID : 20
Enter Quantity : 70
price :  700
Enter 'y' to continue or 'n' to stop y
Enter the product ID : 34
Please Enter a Valid Product ID
Enter the product ID : 21
Enter Quantity : 8
price :  800
Enter 'y' to continue or 'n' to stop y
Enter the product ID : 22
Enter Quantity : 10
price :  300
Enter 'y' to continue or 'n' to stop n
Thanks for visiting ELITE TECHNO INVENTORY MANAGEMENT

In [281]:
print("                                         ELITE TECHNO INVENTORY MANAGEMENT                                         ")
print()
print("                                                   CASH RECEIPT                                            ")
print("======================================================================================================================")
print("PRODUCT ID     PRODUCT NAME                    PRICE           CATEGORY                       QUANTITY       AMOUNT")
print("======================================================================================================================")
for i in billing:
  print(i,"\t\t",products[i]['pd_name']," "*(27-len(products[product]["pd_name"])),"\t",products[i]['price'],"\t\t",products[i]['category']," "*(27-len(products[product]["category"])),billing[i],"\t\t",products[i]['price']*billing[i])
print()
print()
print("                                                                        TOTAL AMOUNT          Rs.",totalprice)
print()
print()
print("======================================================================================================================")
print("                                                    THANK YOU!!!")

                                         ELITE TECHNO INVENTORY MANAGEMENT

                                                   CASH RECEIPT
======================================================================================================================
PRODUCT ID     PRODUCT NAME                    PRICE           CATEGORY                       QUANTITY       AMOUNT
======================================================================================================================
1 		 apple                        	 50 		 Fruit                        44 		 2200
2 		 banana                        	 60 		 Fruit                        55 		 3300
20 		 guava                        	 10 		 Fruit                        70 		 700
21 		 yogurt                        	 100 		 Dairy                        8 		 800
22 		 icecream                        	 30 		 Dairy                        10 		 300


                                                                        TOTAL AMOUNT          Rs. 7300


======================================================================================================================
                                                    THANK YOU!!!

In [282]:
import json
js=json.dumps(products)

In [283]:
fd=open("inventory.json",'w')
txt = fd.write(js)
fd.close()

In [284]:
fd=open("inventory.json",'r')
txt=fd.read()
fd.close()

In [285]:
product =json.loads(txt)

In [286]:
product

{'1': {'category': 'Fruit',
  'pd_name': 'apple',
  'price': 50,
  'quantity(kg/l)': 56},
 '10': {'category': 'Grain',
  'pd_name': 'rice',
  'price': 20,
  'quantity(kg/l)': 500},
 '11': {'category': 'Grain',
  'pd_name': 'oats',
  'price': 50,
  'quantity(kg/l)': 500},
 '12': {'category': 'Grain',
  'pd_name': 'cornmeal',
  'price': 25,
  'quantity(kg/l)': 500},
 '13': {'category': 'Grain',
  'pd_name': 'barley',
  'price': 30,
  'quantity(kg/l)': 100},
 '14': {'category': 'Nuts',
  'pd_name': 'pista',
  'price': 30,
  'quantity(kg/l)': 200},
 '15': {'category': 'Nuts',
  'pd_name': 'badam',
  'price': 50,
  'quantity(kg/l)': 100},
 '16': {'category': 'Nuts',
  'pd_name': 'cashew',
  'price': 20,
  'quantity(kg/l)': 400},
 '17': {'category': 'Nuts',
  'pd_name': 'Walnuts',
  'price': 60,
  'quantity(kg/l)': 100},
 '18': {'category': 'Nuts',
  'pd_name': 'dates',
  'price': 90,
  'quantity(kg/l)': 500},
 '19': {'category': 'Nuts',
  'pd_name': 'peanuts',
  'price': 80,
  'quantity(kg/l)': 400},
 '2': {'category': 'Fruit',
  'pd_name': 'banana',
  'price': 60,
  'quantity(kg/l)': 45},
 '20': {'category': 'Fruit',
  'pd_name': 'guava',
  'price': 10,
  'quantity(kg/l)': 330},
 '21': {'category': 'Dairy',
  'pd_name': 'yogurt',
  'price': 100,
  'quantity(kg/l)': 92},
 '22': {'category': 'Dairy',
  'pd_name': 'icecream',
  'price': 30,
  'quantity(kg/l)': 90},
 '23': {'category': 'Fruit',
  'pd_name': 'grapes',
  'price': 40,
  'quantity(kg/l)': 400},
 '24': {'category': 'Fruit',
  'pd_name': 'Oranges',
  'price': 90,
  'quantity(kg/l)': 200},
 '25': {'category': 'Dairy',
  'pd_name': 'cheese',
  'price': 100,
  'quantity(kg/l)': 50},
 '26': {'category': 'Meat',
  'pd_name': 'fish',
  'price': 200,
  'quantity(kg/l)': 100},
 '27': {'category': 'Meat',
  'pd_name': 'chicken',
  'price': 250,
  'quantity(kg/l)': 300},
 '28': {'category': 'Vegetable',
  'pd_name': 'onion',
  'price': 50,
  'quantity(kg/l)': 1000},
 '29': {'category': 'vegetable',
  'pd_name': 'tomato',
  'price': 25,
  'quantity(kg/l)': 400},
 '3': {'category': 'Vegetable',
  'pd_name': 'carrot',
  'price': 70,
  'quantity(kg/l)': 100},
 '30': {'category': 'Meat',
  'pd_name': 'mutton',
  'price': 400,
  'quantity(kg/l)': 1000},
 '31': {'category': 'Fruit',
  'pd_name': 'lemon',
  'price': 34,
  'quantity(kg/l)': 600},
 '4': {'category': 'Vegetable',
  'pd_name': 'beetroot',
  'price': 50,
  'quantity(kg/l)': 100},
 '5': {'category': 'Dairy',
  'pd_name': 'milk',
  'price': 60,
  'quantity(kg/l)': 200},
 '6': {'category': 'Fruit',
  'pd_name': 'pineapple',
  'price': 100,
  'quantity(kg/l)': 50},
 '7': {'category': 'Fruit',
  'pd_name': 'peaches',
  'price': 40,
  'quantity(kg/l)': 100},
 '8': {'category': 'Grain',
  'pd_name': 'wheat',
  'price': 100,
  'quantity(kg/l)': 600},
 '9': {'category': 'Grain',
  'pd_name': 'bread',
  'price': 50,
  'quantity(kg/l)': 100}}

In [287]:
billing

{1: 44, 2: 55, 20: 70, 21: 8, 22: 10}

In [288]:
js=json.dumps(billing)
fd=open("bill.json",'w')
txt = fd.write(js)
fd.close()

In [289]:
fd=open("bill.json",'r')
txt=fd.read()
fd.close()

In [291]:
print("update product list")
i=input("New product available enter 'y' : ")
while(i=='y'):
  newpd_id=int(input("Enter the new product ID : "))
  if newpd_id not in products:
    newpd_name=input("Enter the new product name : ")
    newpd_quantity=int(input("Enter the new product quantity : "))
    newpd_category=input("Enter the category : ")
    newpd_price=int(input("Enter the price : "))
    products[newpd_id]={'pd_name':newpd_name,'quantity(kg/l)':newpd_quantity,'category':newpd_category,'price':newpd_price}
  else:
    newpd_quantity=int(input("Enter the new product quantity : "))
    products[newpd_id]['quantity(kg/l)']+=newpd_quantity
  i=input("Enter 'y' to continue updating or 'n' to stop : ")

update product list
New product available enter 'y' : y
Enter the new product ID : 32
Enter the new product name : broccoli
Enter the new product quantity : 500
Enter the category : vegetable
Enter the price : 67
Enter 'y' to continue updating or 'n' to stop : y
Enter the new product ID : 24
Enter the new product quantity : 700
Enter 'y' to continue updating or 'n' to stop : n

In [292]:
js=json.dumps(products)
fd=open("inventory.json",'w')
txt = fd.write(js)
fd.close()

In [293]:
fd=open("inventory.json",'r')
txt=fd.read()
fd.close()

In [294]:
print(len(billing))

5